.selectedVideo{
    width: 100%;
}

.selected-video{
    width: 829px;
    height: 466px;
}

@media only screen and (max-width: 900px)
{
    .selected-video{
        width: 100vw;
        height: 40vh;
    }
}