.container {
    width: 100%;
    max-width: 850px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 100%;
}

.selectedVideo{
    height: 450px;
}